body{
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    color: green;
    margin: 0;
    padding: 0;
}

h1{
    color: red;
    text-align: center;
    margin-top: 50px;
}

h2{
    color: blue;
    text-align: center;
    margin-top: 50px;
}